<div class="question">
	<div class="top">
		
	

		<div class="userDetail">
			
				<% if question.user.profile_picture %>
				<img src="/uploads/<%=question.user.profile_picture %>">
				<% else %>
				<%= image_tag 'default.png' %>
				<% end %>
				<% if question.is_anonymous %>
					anonymous
				<% else %>
				<%= question.user.email.slice(0..-11) %>
				<% end %>
		</div>
		<div class="Q_content">
			<%= question.query %>
		</div>
		</div>


	<div class="middle">
		
		
		<div class="A_content">
			
			<% answers = Answer.where(question_id: question.id) %>
			<% answers.each do |answer| %>
			<div class="userDetail">
			
				<% if answer.user.profile_picture %>
				<img src="/uploads/<%=question.user.profile_picture %>">
				<% else %>
				<%= image_tag 'default.png' %>
				<% end %>
				<% if answer.is_anonymous %>
					anonymous
				<% else %>
				<%= answer.user.email.slice(0..-11) %>
				<% end %>
		</div>
		<%= answer.content %>
		<br>
		<%= link_to "Upvote", url_for(:controller => "votes", :action => "toggle_vote", :answer_id => answer.id , :vote_type => 1), method: :post %><span class="vote_count">
		<%= Vote.all.where(:answer_id => answer.id).where(:vote_type => 1).length %></span>
		<%= link_to "Downvote", url_for(:controller => "votes", :action => "toggle_vote", :answer_id => answer.id , :vote_type => 0), method: :post %>
		<span class="vote_count">
		<%= Vote.all.where(:answer_id => answer.id).where(:vote_type => 0).length %></span>
		<% end %>

		</div>

	</div>


	<div class="bottom">
		<div class="actions">
		<% if answers.any? %>

		<% else %>
		
		<%= link_to "Answer", {:controller => "answers", :action => "new", :question_id => question.id }%>
		<a href="">pass</a>
		<a href="">follow</a>
		
		<% end %>
		</div>
	</div>



</div>

